<h1>Log In to Beer30</h1>

<form action="/login" method="post">
  <label for="user_name">User name:&ensp;</label>
  <input name="user_name" id="user_name" type="text">
  <br>
  <br>
  <label for="password">Password:&ensp;</label>
  <input name="password" id="password" type="password">
  <br>
  <br>
  <input type="submit" id="login" value="Log In">
</form>
